# #########################################################################
# Pythonパッケージをpipで管理している場合は、本ファイルにて一括インストールが可能である。
# <https://pip.pypa.io/en/stable/reference/requirements-file-format/>
# #########################################################################

Flask==2.2.2
flask-sqlalchemy==3.0.2
SQLAlchemy==1.4.46
pytest==7.2.0
python-dotenv==0.21.0